{
	"parser": "babel-eslint",
	"parserOptions": {
		"sourceType": "module",
		"allowImportExportEverywhere": false,
		"codeFrame": false
	},
	"extends": ["airbnb", "prettier"],
	"plugins": ["react", "prettier"],
	"rules": {
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": ["js", "jsx"]
			}
		],
		"import/no-extraneous-dependencies": ["error", {
			"devDependencies": true
		}],
		"prefer-promise-reject-errors": ["off"],
		"prettier/prettier": "error",
		"max-len": ["error", 80],
		"react/jsx-indent" : ["error", "tab"],
		"react/jsx-indent-props" : 0
	},
	"env": {
		"browser": true,
		"jest": true
	},
	"settings": {
		"import/resolver": {
			"webpack": {
				"config": "./config/webpack-common-config.js"
			}
		}
	}
}
